@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,500&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #004d40;
}

/* ----------------------- */
/* --------- App --------- */
/* ----------------------- */

header {
  padding-top: 20px;
  text-align: center;
}
.AppLogo {
  display: inline-block;
  max-width: 120px;
}
.AppTitle {
  padding: 20px;
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
}
.AppTitle small {
  display: block;
  font-size: 14px;
  font-weight: 300;
}
.AppLoader {
  margin-top: 30px;
  text-align: center;
  line-height: 2.5;
}
.AppFilter {
  margin-top: 25px;
  text-align: center;
}
.AppFilter li {
  font-size: 12px;
  display: inline;
  margin: 5px;
  padding: 5px 15px;
  border-radius: 20px;
  background: #e0f2f1;
}
.AppFilter li a {
  color: #00796b;
  text-decoration: none;
  cursor: pointer;
}
.AppFilter .AddResource {
  color: #eb5569;
  background: #ffcdd2;
  display: block;
  margin: 10px auto 0 auto;
  max-width: 165px;
}
.AppFilter .AddResource a {
  color: #eb5569;
  text-decoration: none;
}
.AppShare {
  margin-top: 25px;
  text-align: center;
}
.AppShare li {
  display: inline;
  margin: 2px;
}
.Category {
  margin-top: 20px;
}
.CategoryName {
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  color: #eb5569;
  padding-top: 20px;
}
.AppCard {
  margin-top: 15px;
}
.AppCard .card-body {
  padding-bottom: 10px;
}
.AppCard .card-subtitle {
  font-size: 13px;
}
.AppCard .card-text {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
}
.AppCard .card-link {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #4fc3f7;
  font-size: 14px;
  vertical-align: middle;
}
.AppCard .CardVoting {
  float: right;
  text-transform: none;
  line-height: 1.15;
  margin: 0;
  overflow: hidden;
  -webkit-appearance: button;
  border-radius: 5px;
  border: 0px;
  outline: none;
  color: #eb5569;
  background: #ffcdd2;
  font-size: 13px;
  padding: 5px;
}
.AppCard .CardVoting:disabled {
  color: #00796b;
  background: #e0f2f1;
}
.AppCard .card-footer {
  font-size: 13px;
  font-weight: 300;
  padding-top: 8px;
  padding-bottom: 8px;
}
.AppDonation {
  width: 120px !important;
  border-radius: 10px;
}
footer {
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  margin-top: 40px;
}

/* ----------------------- */
/* ------- Mobile -------- */
/* ----------------------- */
 
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .AppTitle {
    display: block;
    padding: 10px;
  }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {  
 
}
 
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {  
    
}